.gridcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "top"
        "header"
        "product"
        "bottom";

}

.flex-container {
    display: flex;
    flex-wrap: wrap;

}

img {
    height: 350px;
    width: 350px;
}

.buy-button {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px #CCC;
    padding: 10px;
    width: 350px;
}